.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
}

.input div {
    width: 100%;
    text-align: start;
    display: flex;
    flex-direction: column;
}